* {
    margin: 0;
    padding: 0;
}

.createPostPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cpContainer {
    width: 400px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cpContainer h1 {
    margin-bottom: 20px;
    text-align: center;
}

.cpContainer .MuiTextField-root {
    margin-bottom: 20px;
}

.cpContainer input[type="file"] {
    margin-bottom: 20px;
}

.cpContainer p {
    margin-bottom: 10px;
    text-align: center;
}